.transparent-bg{
    background-color:transparent;
}

nav{
    transition: 1s ease-in-out;
}



html,body{
    scroll-behavior: smooth;
}

.my-primary{
    color:rgb(223, 207, 207);
}

.my-accent-color{
    color:rgb(254, 209, 54);
}


.main-background {
    height:100vh;
    background:  url("../images/flower.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.blur{
    background-color:rgba(0, 0, 0, .5);
    -webkit-backdrop-filter: blur(8px);
    -moz-backdrop-filter: blur(8px);
    -o-backdrop-filter: blur(8px);
    -ms-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    height: 100vh; 
    width: 100%;
}

#contact{
    height:min-content;
    background:  url("../images/earth.jpg");
    background-size: cover;
    background-position: center;
}
/* if backdrop support: very transparent and blurred */
@supports ((-webkit-backdrop-filter: blur(2px)) or (backdrop-filter: blur(2px))) {
    .backdrop-blur {
      background-color: rgba(0, 0, 0, .5);
      -webkit-backdrop-filter: blur(2px);
      backdrop-filter: blur(2px);
    }
}

.font-montserrat{
    font-family: 'Montserrat', sans-serif;
}
.font-damion{
    font-family: 'Damion', cursive;
}
.font-medium{
    font-size: 20px;
}

.font-small{
    font-size:17px;
}
.font-large {
   
    font-size: 24px;
}
.btn-link:active, .btn-link:focus{
    box-shadow: none;
    outline: none;

}

button[type='submit']{
    background-color:rgb(254, 209, 54);
    border-radius: 16px;
}

footer a{
    color:rgba(223, 207, 207, 0.534);
}
.contact-info a:hover , footer a:hover{
    color:rgba(238, 207, 97, 0.685);
    text-decoration: none;
}
button a{
    text-decoration: none;
    outline: none;
    color:#ffffff
}

button a:hover,button a:focus{
    color:#ffffff
}
.btn.btn-social-icon {
    width: 50px;
    height: 50px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    transition: background-color .3s;
    webkit-transition: background-color .3s;
}

.btn.btn-rounded {
    border-radius: 40px;
}

.btn-facebook:hover,
 .btn-facebook:focus 
{
    background: #4c5f8f;
    
}

 .btn-facebook 
{
    background: #405791;
}


.btn-instagram
{
    background: #bf3322;
    

}

.btn-instagram:hover,   
    .btn-instagram:focus
{
    background:#dc4a38; 
}
    

.btn-github
{
    background-color: #4183c4;
    
}


.btn-github:hover, .btn-github:focus
{
    background-color: #689cd0;
   
}

.btn-skype
{
    background-color: #00aff0;
    
}
.btn-skype:hover
{
    background-color: #24c4ff;

}
.btn-social-icon .fa,.btn-social-icon i
{
    backface-visibility: hidden;
    moz-backface-visibility: hidden;
    ms-transform: scale(1);
    o-transform: scale(1);
    transform: scale(1);
    transition: all .25s;
    webkit-backface-visibility: hidden;
    webkit-transform: scale(1);
    webkit-transition: all .25s;
}

.btn-social-icon:hover .fa,.btn-social-icon:focus .fa,.btn-social-icon:hover i,.btn-social-icon:focus i
{
    ms-transform: scale(1.3);
    o-transform: scale(1.3);
    transform: scale(1.3);
    webkit-transform: scale(1.3);
}

.zoom:hover{
    ms-transform: scale(1.1);
    o-transform: scale(1.1);
    transform: scale(1.1);
    webkit-transform: scale(1.1);
}

.zoom{
    backface-visibility: hidden;
    transform: scale(1);
    transition: all .25s;
    webkit-backface-visibility: hidden;
    webkit-transform: scale(1);
    webkit-transition: all .25s;
    width : fit-content;
    
    margin-left: auto;
    margin-right: auto;
}

.btn-cogs{
    background-color: rgba(238, 207, 97);
    color:white;
}

.btn-cogs:hover{
    background-color: rgba(238, 207, 97, 0.685);
    color:white;
}

.img-responsive {
    height: 100%;
    width: 100%;
  }

  .img__description_layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #be083cd8;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
  }
  
  .img__wrap:hover .img__description_layer {
    visibility: visible;
    opacity: 1;
  }
  
  .img__description {
    transition: .2s;
    transform: translateY(1em);
    text-decoration: none;
    color:white
  }
  
  .img__wrap:hover .img__description {
    transform: translateY(0);
  }
.img__description:hover{
    text-decoration: none;
    color:rgb(202, 202, 202);
}


.borderl{
    border: 3px solid rgba(0, 0, 0, 0.404);
    border-radius: 5px;
}
